<!-- HEADER APP -->
<section class="ContHeader">
    <!-- LOGO -->
    <div class="ContLogo">
        <img src="./../../assets/img/header/LogoMobilsonft.svg" alt="Logo Mobilsoft" width="110px">
        <div id="content ">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span><img src="./../../assets/img/barra-izquierda/FlechaAgg.svg" alt="" id="Flecha"></span>
                    </button>
                </div>
            </nav>
        </div>
    </div>
    <!-- ICONOS DE NAVEGACION -->
    <div class="ContIconosNave">
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba1.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba2.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba3.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba4.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba5.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba1.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba2.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba3.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba4.svg" alt="" class="ImgNav"></div>
        <div class="ContIconosNavegacion"><img src="./../../assets/img/header/IconoPrueba5.svg" alt="" class="ImgNav"></div>
    </div>
    <!-- NOMBRE Y FOTO DE PERFIL -->
    <div class="ContPerfil">
        <div class="ContFotoPerfil">
            <img src="./../../assets/img/header/imagen de prueba.jpg" alt="Foto de perfil" width="40px" height="40px" style="border-radius: 50%;">
        </div>
        <p class="two NombrePerfil">Giann Carlos</p>
        <div class="ContBtnOff">
            <img src="./../../assets/img/header/BtnOff.svg" alt="Cerrar sesion" width="20px">
        </div>
    </div>
</section>