<!-- SECCION DE FOOTER -->
<section>
    <div class="ContIconos">
        <div class="ContDatos">
            <img src="./../../assets/img/footer/IconoUbicacion.svg" alt="Direccion">
            <p class="one">Calle 80A # 72B / Barranquilla</p>
        </div>
        <div class="ContDatos">
            <img src="./../../assets/img/footer/IconoCel.svg" alt="Celular+">
            <p class="one">300 659 9788 - 301 695 5448</p>
        </div>
        <div class="ContDatos">
            <img src="./../../assets/img/footer/IconoFijo.svg" alt="Fijo">
            <p class="one">360 4578</p>
        </div>
        <div class="ContDatos">
            <img src="./../../assets/img/footer/IcnonoCopyr.svg" alt="Copyright">
            <p class="one">Copyright Page</p>
        </div>
    </div>
    <div class="ContLogo">
       <img src="./../../assets/img/header/LogoMobilsonft.svg" alt="Logo">
    </div>
</section>