<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- TITULO DEL GRUPO -->
        <ul id="menu" class="ContenedoirGeneral">
            <li>
                <!-- PRIMER DESPLEGABLE -->
                <input type="checkbox" name="list" id="nivel1-1">
                <label for="nivel1-1" class="ContenedorTitulo" id="Flechita">
                    <div class="ContenedorImgTxt">
                        <img src="./../../assets/img/header/IconoPrueba1.svg" alt="" class="IconoListado">
                        <p class="TxtTitulo">Componente</p>
                    </div>
                    <img src="./../../assets/img/barra-izquierda/IconFlecha.svg" alt="" width="15px" id="Rotarflecha">
                </label>
                <ul class="interior">
                <!-- SEGUNDO DESPLEGABLE -->
                <li>
                    <input type="checkbox" name="list" id="nivel2-1">
                    <label for="nivel2-1">
                        <div class="ContenedorImgTxt">
                            <img src="./../../assets/img/header/IconoPrueba2.svg" alt="" class="IconoListado">
                            <p class="TxtTitulo">Accesorios</p>
                        </div>
                    </label>
                    <ul class="interior">
                        <li>
                            <div class="ContenedorImgTxt">
                                <img src="./../../assets/img/header/IconoPrueba3.svg" alt="" class="IconoListado">
                                <p class="TxtTitulo">Paginas</p>
                            </div>
                        </li>
                        <li>
                            <div class="ContenedorImgTxt">
                                <img src="./../../assets/img/header/IconoPrueba4.svg" alt="" class="IconoListado">
                                <p class="TxtTitulo">Cuentas</p>
                            </div>
                        </li>
                        <li>
                            <div class="ContenedorImgTxt">
                                <img src="./../../assets/img/header/IconoPrueba5.svg" alt="" class="IconoListado">
                                <p class="TxtTitulo">Graficas</p>
                            </div>
                        </li>
                    </ul>
                </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>